---
import Section from "./Section.astro";
import { Image } from "astro:assets";
import type { AboutProps, HeroProps } from "@types";

type Props = AboutProps & Pick<HeroProps, "name">;

const { description, image, name } = Astro.props;

---

<script>
  import { revealHeadline } from '../scripts/animations';

  document.addEventListener('DOMContentLoaded', () => {
    revealHeadline();
  });
</script>

<Section text="About Me" href="about">
  <div class="flex gap-12 md:gap-8 flex-col items-center md:flex-row scroll-reveal">
    <p class="text-neutral w-auto text-base md:pr-5">{description}</p>
    <div
      class="w-64 h-80 bg-white p-4 flex-shrink-0 rotate-[5deg] md:rotate-[7deg]"
    >
      <Image
        class="object-cover"
        src={image}
        width="260"
        height="260"
        alt={name}
      />
    </div>
  </div>

  <!-- New Reading and Watching Section -->
  <div class="mt-12 text-center scroll-reveal">
    <h3 class="text-2xl font-serif font-bold text-primary mb-4">Currently Reading & Watching</h3>
    <div class="flex flex-col md:flex-row justify-center gap-8">
      <div class="bg-black text-white p-6 rounded-lg shadow-lg flex-1">
        <h4 class="text-xl font-medium mb-2">📚 Reading</h4>
        <ul class="list-inside list-none mb-4">
          <li>Prompt Engineering by Lee Boonstra</li>
          <li>The Complete Stories by Flannery O'Connor</li>
          <li>The Sun Also Rises by Ernest Hemingway</li>
        </ul>
        <a 
          href="https://www.goodreads.com/user/show/73722366-rob" 
          target="_blank" 
          rel="noopener noreferrer"
          class="text-primary hover:text-primary/80 text-sm inline-flex items-center gap-1"
        >
         My Goodreads profile
        </a>
      </div>
      <div class="bg-black text-white p-6 rounded-lg shadow-lg flex-1">
        <h4 class="text-xl font-medium mb-2">🎬 Watching</h4>
        <ul class="list-inside list-none mb-4">
          <li>Speak No Evil</li>
          <li>Conclave</li>
          <li>Serverance</li>
        </ul>
        <a 
          href="https://letterboxd.com/schlenk7/" 
          target="_blank" 
          rel="noopener noreferrer"
          class="text-primary hover:text-primary/80 text-sm inline-flex items-center gap-1"
        >
          My Letterboxd profile
        </a>
      </div>
    </div>
  </div>
</Section>
