---
import { Image } from "astro:assets";
import Section from "./Section.astro";

---
<Section text="Currently Reading" href="reading">
<div class="mt-12 text-center scroll-reveal">
    <div class="grid grid-cols-3 gap-8 items-end">
        <div class="book-3d hover:rotate-2 transition-transform duration-300">
            <div class="book-3d__inner">
              <img class="book-3d__cover" src="/sun-also-rises.jpeg" alt="The Wizard of Oz by L. Frank Baum">
            </div>
          </div>

          <div class="book-3d hover:rotate-2 transition-transform duration-300">
            <div class="book-3d__inner">
              <img class="book-3d__cover" src="/flan-oconnor.jpg" alt="The Wizard of Oz by L. Frank Baum">
            </div>
          </div>

          <div class="book-3d hover:rotate-2 transition-transform duration-300">
            <div class="book-3d__inner mb-auto">
              <img class="book-3d__cover" src="/prompt-engin.jpg" alt="The Wizard of Oz by L. Frank Baum">
            </div>
          </div>
    </div>
</div>
  </Section>



