---
import { Image } from "astro:assets";
import Section from "./Section.astro";

---
  
  <!-- New Reading and Watching Section -->
  <!-- <div class="mt-12 text-center scroll-reveal">
    <h3 class="text-2xl font-serif font-bold text-primary mb-4">Currently Reading & Watching</h3>
    <div class="flex flex-col md:flex-row justify-center gap-8">
      <div class="bg-black text-white p-6 rounded-lg shadow-lg flex-1">
        <h4 class="text-xl font-medium mb-2">📚 Reading</h4>
        <ul class="list-inside list-none mb-4">
          <li>Prompt Engineering by Lee Boonstra</li>
          <li>The Complete Stories by Flannery O'Connor</li>
          <li>The Sun Also Rises by Ernest Hemingway</li>
        </ul>
        <a 
          href="https://www.goodreads.com/user/show/73722366-rob" 
          target="_blank" 
          rel="noopener noreferrer"
          class="text-primary hover:text-primary/80 text-sm inline-flex items-center gap-1"
        >
         My Goodreads profile
        </a>
      </div>
      <div class="bg-black text-white p-6 rounded-lg shadow-lg flex-1">
        <h4 class="text-xl font-medium mb-2">🎬 Watching</h4>
        <ul class="list-inside list-none mb-4">
          <li>Speak No Evil</li>
          <li>Conclave</li>
          <li>Serverance</li>
        </ul>
        <a 
          href="https://letterboxd.com/schlenk7/" 
          target="_blank" 
          rel="noopener noreferrer"
          class="text-primary hover:text-primary/80 text-sm inline-flex items-center gap-1"
        >
          My Letterboxd profile
        </a>
      </div>
    </div>
  </div> -->
  <Section text="Currently Reading" href="reading">
<div class="mt-12 text-center scroll-reveal">
    <div class="grid grid-cols-3 gap-8 items-baseline pt-6">
        <div class="book-3d hover:rotate-2 transition-transform duration-300">
            <div class="book-3d__inner">
              <img class="book-3d__cover" src="/sun-also-rises.jpeg" alt="The Wizard of Oz by L. Frank Baum">
            </div>
          </div>

          <div class="book-3d hover:rotate-2 transition-transform duration-300">
            <div class="book-3d__inner">
              <img class="book-3d__cover" src="/flan-oconnor.jpg" alt="The Wizard of Oz by L. Frank Baum">
            </div>
          </div>

          <div class="book-3d hover:rotate-2 transition-transform duration-300">
            <div class="book-3d__inner mb-auto">
              <img class="book-3d__cover" src="/prompt-engin.jpg" alt="The Wizard of Oz by L. Frank Baum">
            </div>
          </div>
    </div>
</div>
  </Section>



