---
import Section from "./Section.astro";
---

<!-- <Section text="Technologies" href="technologies"> -->
  <div
    class="w-full inline-flex flex-nowrap overflow-hidden [mask-image:_linear-gradient(to_right,transparent_0,_black_128px,_black_calc(100%-200px),transparent_100%)]"
  >
    <ul
      class="flex items-center justify-center md:justify-start [&_li]:mx-8 [&_img]:max-w-none animate-infinite-scroll"
    >
      <li>
        <img class="h-9" src="./logos/react-logo.svg" alt="React Logo" />
      </li>
      <li>
        <img class="h-9" src="./logos/Vue.js.svg" alt="Vue.js Logo" />
      </li>
      <li>
        <img class="h-9" src="./logos/nextjs-icon-svgrepo-com.svg" alt="Next.js Logo" />
      </li>
      <li>
        <img
          class="h-9"
          src="./logos/astro-icon-light-gradient.svg"
          alt="Astro Logo"
        />
      </li>
      <li>
        <img
          class="h-9"
          src="./logos/WordPress-logotype-wmark-white.png"
          alt="WordPress Logo"
        />
      </li>
      <li>
        <img
          class="h-9"
          src="./logos/tailwindcss-mark.d52e9897.svg"
          alt="Tailwind CSS Logo"
        />
      </li>
      <li>
        <img
          class="h-9"
          src="./logos/angular_gradient.png"
          alt="Angular Logo"
        />
      </li>
    </ul>
    <ul
      class="flex items-center justify-center md:justify-start [&_li]:mx-8 [&_img]:max-w-none animate-infinite-scroll"
      aria-hidden="true"
    >
      <li>
        <img class="h-9" src="./logos/react-logo.svg" alt="React Logo" />
      </li>
      <li>
        <img class="h-9" src="./logos/Vue.js.svg" alt="Vue.js Logo" />
      </li>
      <li>
        <img class="h-9" src="./logos/nextjs-icon-svgrepo-com.svg" alt="Next.js Logo" />
      </li>
      <li>
        <img
          class="h-9"
          src="./logos/astro-icon-light-gradient.svg"
          alt="Astro Logo"
        />
      </li>
      <li>
        <img
          class="h-9"
          src="./logos/WordPress-logotype-wmark-white.png"
          alt="WordPress Logo"
        />
      </li>
      <li>
        <img
          class="h-9"
          src="./logos/tailwindcss-mark.d52e9897.svg"
          alt="Tailwind CSS Logo"
        />
      </li>
      <li>
        <img
          class="h-9"
          src="./logos/angular_gradient.png"
          alt="Angular Logo"
        />
      </li>
    </ul>
  </div>
<!-- </Section> -->
